    {% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login | CITE DE LA CULTURE</title>
        <!--global css starts-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}}">
        <link rel="shortcut icon" href="{{ asset('images/favicon.png')}}" type="image/x-icon">
        <link rel="icon" href="{{ asset('images/favicon.png')}}" type="image/x-icon">
        <!--end of global css-->

        <!--page level css starts-->
        <link type="text/css" rel="stylesheet" href="{{ asset('vendors/icheck/skins/all.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/login.css')}}">
        <!--end of page level css-->
    </head>

    <body>
    <div class="container">
        <!--Content Section Start -->
        <div class="row">
            <div class="box animation flipInX">
                <div class="box1">
                    <img src="{{ asset("images/ct.png")}}" alt="logo" class="img-responsive mar">
                    <h3 class="text-primary">Login</h3>
                    <form action="#" method="post">
                        <div class="form-group">
                            <label class="sr-only"></label>
                            <label for="username">{{ 'security.login.username'|trans }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                        </div>
                        <div class="form-group">
                            <label class="sr-only"></label>
                            <label for="password">{{ 'security.login.password'|trans }}</label>
                            <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                        </div>
                        <div class="checkbox text-left">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            </label>
                        </div>
                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                        <p>Don't have an account? <a href="{{ path('fos_user_registration_register') }}">{{ 'S INSCRIRE'|trans({}, 'FOSUserBundle') }}<strong> Sign up</strong></a></p>
                    </form>
                </div>
                <div class="bg-light animation flipInX">
                    <a href="{{ asset("forgot.html")}}">Forgot Password?</a>
                </div>
            </div>
        </div>
        <!-- //Content Section End -->
    </div>
    <!--global js starts-->
    <script type="text/javascript" src="{{ asset("js/jquery.min.js")}}"></script>
    <script type="text/javascript" src="{{ asset("js/bootstrap.min.js")}}"></script>
    <!--global js end-->
    <script type="text/javascript" src="{{ asset("vendors/icheck/icheck.min.js")}}"></script>
    <script>
        $(document).ready(function(){
            $("input[type='checkbox']").iCheck({
                checkboxClass: 'icheckbox_minimal-blue'
            });
        });
    </script>
    </body>

    </html>

</form>