{% extends 'admin.html.twig' %}




{% block content %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Les sessions</h3>
            <div class="row mb">
                <!-- page start-->
                <div class="content-panel">
                    <input type="text" class="form-control" placeholder="rechercher par Nom :" id="recherche" name="Sessionrecherche" style="width: 200px">
                    <div class="searching">
                    <div class="adv-table">
                        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                            <tr><td>titre de session </td><td>date de debut</td><td>Date FIN</td><td>Action</td></tr>
                            {% for Workshop in m %}
                                <tr>
                                    <td>
                                        {{ Workshop.titre }}
                                    </td>
                                    <td> {{Workshop.dateDeSes|date}}</td>
                                    <td> {{ Workshop.dateFinSes|date}}</td>
                                  <td> <a class="btn btn-primary btn-block text-white" href="{{ path('selectworkshop1',{'idSession':Workshop.id }) }}" >voir les workshops</a>

                                      <a  class="btn btn-danger btn-block text-white" href="{{ path('supprimerSession',{'id': Workshop.id })}}">Suprimmer </a>
                                      <a  class="btn btn-primary btn-block text-white" href="{{ path('updatesession1',{'ide': Workshop.id })}}">update </a></td>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
                <!-- page end-->
            </div>
            <div class="navigation">
                {{ knp_pagination_render(m) }}
            </div>
            <!-- /row -->
            </div>
        </section>
        <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script>



        $(document).ready(function () {
            $('#recherche').on('keyup', function () {
                $search = $(this).val();
                $.ajax({
                    url: "{{ path('a_recherche1') }}",
                    data: {'search2': $search }
                }).done(function (response) {
                    $('.searching').html(response)
                }).catch(function (err) {

                });
            });
        });


    </script>


{% endblock %}

