{% extends "::Client.html.twig" %}
{% block content %}
    <div class="container">
        <table>
            {% for Session in m %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail text-center">


                        <br/>
                        <h5 class="text-primary">Voici les coordoneés d un workshop </h5>
                        <ul>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Son nom est : {{ Session.titre }}</li>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> commence a: {{  Session.dateDeSes|date('Y-m-d') }}</li>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> se termine a : {{ Session.dateFinSes|date('Y-m-d') }}</li>


                        </ul>



                        <a  class="btn btn-danger btn-block text-white"  >Reserver</a>
                        <a class="btn btn-danger btn-block text-white" href="{{ path('selectworkshop',{'idSession':Session.id }) }}" >voir les workshops</a>

                    </div>


                </div>
            {% endfor %}
        </table>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(m) }}
    </div>

{% endblock %}


